<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>Controller_PickNPlace</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\Daniel\AppData\Local\ABB\RobotWare\RobotWare_6.13.0176" name="RobotWare" version="6.13.0176">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 120-3/0.6">
    </Option>
  </DriveModule>
</SystemProperties>