<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>Controller_Pintura</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\Daniel\AppData\Local\ABB\RobotWare\RobotWare_6.13.0176" name="RobotWare" version="6.13.0176">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
    <Option descr="608-1 World Zones">
    </Option>
    <Option descr="623-1 Multitasking">
    </Option>
    <Option descr="610-1 Independent Axis">
    </Option>
    <Option descr="Auto acknowledge input">
    </Option>
    <Option descr="616-1 PC Interface">
    </Option>
    <Option descr="969-1 PROFIBUS Controller">
    </Option>
    <Option descr="888-3 PROFINET Device">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 5400">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="PaintWare">
    </Option>
    <Option descr="IRB5400,12_1200_1620">
    </Option>
    <Option descr="Simulated">
    </Option>
  </DriveModule>
</SystemProperties>